APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

ANDROID_PUSH_ENV=prod
ANDROID_PUSH_API_KEY=AIzaSyDdnHdLtQ8NuyNOF2BJTJmxJ4q9cXu_sdM

IOS_PUSH_ENV=dev
IOS_PUSH_CERT=ios-push-notification-certificates/development/certificate.pem

YOUTUBE_API_BROWSER_KEY=AIzaSyCK8pj_b28kICd-p_pXD2_Gi1_Pmzy9-eU
YOUTUBE_API_SERVER_KEY=AIzaSyDgiKv5oZ6_6yo81f9DaXwbtrtjHrk09eY

IMAGE_DRIVER=gd