<table class="table">
    <tr>
        <td ng-repeat="(key, note) in info">
            <small ng-if="key != 'note'"><% note %></small>
            <small ng-if="key == 'note'">

                <div ng-show="view">
                    <textarea class="form-control" ng-model="update.text" ng-init="update.text = note"></textarea>
                    <button class="btn btn-success btn-sm" ng-click="updateNote(info['id'], update.text)">update</button>
                </div>

                <div ng-show="!view">
                    <p><% info['note'] %></p>
                    <button class="btn btn-warning btn-sm" ng-click="editNote()">edit</button>
                </div>
            </small>
        </td>
    </tr>
</table>